html {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #43291C;
    color:#FCF2BF;
    text-align: center;
}

header img, header h1 {
    display: inline-block;
}

header img {
    width: 25px;
}

