:root {
    --color-1: #88582B;
    --color-2: #eee1d5;
}

html {
    font-family: 'Open Sans', sans-serif;
    
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
    color: var(--color-1);
    font-weight:500;
}

body {
    margin: 0;
}

header {
    background-color: #43291C;
    color:#FCF2BF;
    text-align: center;
}

header img, header h1 {
    display: inline-block;
}

header img {
    position: relative;
    top: 1vh;
    width: 4vh;
}

main {
    padding: 2rem 1.5vw 2rem 1.5vw;
    background-color:#EFEFEF;
}

.item > p{
    display: inline-block;
    margin: 5px 0 5px 0;
}

.item:not(:last-child) {
    border-bottom: 2px solid var(--color-1);
}

.amount {
    width: 15%;
    text-align: left;
}

.item-name {
    text-align: left;
    width: 50%;
    font-weight: bold;
}

.price {
    text-align: right;
    width: 20%;
    font-weight: bold;
}

.item .ingredient {
    display: block;
    margin-left: 15.5%;
    color:#88582B;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
}

.grid-container-2 > div {
    background: var(--color-2);
    padding: 0.2vh 2vw 1vh 2vw;
    border-radius: 10px;
    box-sizing: border-box;
}

#items {
    grid-row: 1 / 3;
    margin-left: 15px;
}

#name, #payment {
    padding-bottom: 25px;
    margin: 0 15px 0 15px;
}

#total {
    margin: 35px
}

#total > div {
    text-align: center;
}

#total > div > p, #total > div > span {
    display: inline-block;
}

#total > div > p {
    width: 30%;
}

#total > button {
    font-size: 1rem;
    background-color: burlywood;
    border-width: 0;
    margin-top: 25px;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

form {
    position: relative;
}

form > label {
    position: relative;
    font-size: 0.7rem;
    top: 9px;
    left: 20px;
    background: var(--color-2);
    color: var(--color-1);
}
input {
    display: block;
    width: 90%;
    border: 2px solid var(--color-1);
    border-radius: 25px;
    padding: 10px 10px 10px 15px;
    background-color: var(--color-2);
}

input[id="ccv-number"] {
    width: 100px;
}


@media (max-width:600px) {
    :root {
        font-size:small
    }

    main {
    padding: 10px 5px 2rem 5px;
    background-color:#EFEFEF;       
}
    #items {
    margin-left: 0;
}
    
    #name, #payment {
        margin: 0;
    }

    input, #ccv-number {
        width: 25vw;
    }
}